<nav th:fragment="authbar" class="level">
    <div class="level-left">
        <div class="level-item">
            <figure class="image ratiologo">
                <img src="/images/Logo2.png" alt="logo">
            </figure>
        </div>
    </div>
    <div class="level-right">
        <div class="level-item">
            <span class="icon is-medium has-text-primary">
                <i class="fas fa-user fa-lg"></i>
            </span>
            <span th:text="${#authentication.getPrincipal().getUsername()}"
                  class="has-text-primary has-text-weight-semibold level-item subtitle username">
            </span>
        </div>
        <div class="level-item">
            <span class="icon is-medium has-text-primary">
                <i class="fas fa-cog fa-lg"></i>
            </span>
            <span th:text="${#authentication.getPrincipal().authorities[0]}"
                  class="has-text-primary has-text-weight-semibold level-item subtitle username">
            </span>
        </div>
        <div class="level-item">
            <form th:if="${#httpServletRequest.requestURI == '/'}" th:action="@{/logout}">
                <button type="submit" name="logout" value="value" class="button is-primary ml-2">Logout</button>
            </form>
        </div>
    </div>
</nav>