<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="extra.css">

<head>
    <title>Pannello Di Controllo</title>
</head>
<body>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5">
                    <div class="title has-text-centered">Main menù</div>

                    <article class="message is-link ">
                        <div class="message-header">
                            <p>Strumenti Amministrativi IT</p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-centered is-mobile">
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-128x128">
                                        <img src="team.png">
                                        <div class="clear subtitle has-text-grey-darker has-text-weight-bold">Teams</div>
                                    </figure>
                                </div>
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-128x128">
                                        <img src="client.png">
                                        <div class="clear subtitle has-text-grey-darker has-text-weight-bold">Clienti</div>
                                    </figure>
                                </div>
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-128x128">
                                        <img src="standardactivity.png">
                                        <div class="clear subtitle has-text-grey-darker has-text-weight-bold">Standard Activity</div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="message is-link">
                        <div class="message-header">
                            <p>Strumenti Amministrativi IT</p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-centered is-mobile">
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-flex is-128x128">
                                        <img src="user.png">
                                    </figure>
                                    <div class="subtitle">Utenti</div>
                                </div>
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-flex is-128x128">
                                        <img src="project.png">
                                    </figure>
                                    <div class="subtitle">Progetti</div>
                                </div>
                                <div class="column has-text-centered is-5">
                                    <figure class="image is-flex is-128x128">
                                        <img src="time.png">
                                    </figure>
                                    <div class="subtitle">Tracking Activities</div>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>