<!DOCTYPE html>
<html lang="it">

<head th:include="fragments/headFragment.html :: headFragment">
    <title id="pageTitle">Login Rationence</title>
</head>

<body>
<section class="container">
    <div class="columns is-multiline">
        <div class="column is-8 is-offset-2 login">
            <div class="columns">
                <div class="column left has-text-centered">
                    <h1 class="title colored has-text-primary has-text-weight-bold is-1 is-center">
                        <!--<figure class="image is-128x128">
                            <img  id="userimg" src="/images/Logo.png">
                        </figure>-->
                        Rationence
                    </h1>
                    <h2 class="subtitle colored has-text-primary-dark has-text-weight-semibold is-4">Project Activity Tracking</h2>
                    <small><em>Software di tracking attività per progetti.</em></small>
                    <figure class="image is-128x128 mx-auto">
                        <img src="/images/RPATIcon.png">
                    </figure>
                </div>
                <div class="column right has-text-centered">
                    <h1 class="title has-text-primary has-text-weight-semibold is-4">Login</h1>
                    <!-- <p class="description">Effettua l'accesso</p> -->
                    <p th:if="${param.error}" class="notification is-danger">
                        ⚠️ Credenziali errate️
                    </p>
                    <p th:if="${param.logout}" class="notification is-success">
                        Logout effettuato con successo.
                    </p>
                    <form name="f" th:action="@{/login}" method="post">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" id="username" name="username" type="text" placeholder="Username">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" id="password" name="password" type="password" placeholder="Password">
                            </div>
                        </div>
                        <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Login</button>
                        <br />
                    </form>
                </div>
            </div>
        </div>
        <div class="column is-8 is-offset-2">
            <br>
            <nav class="level">
                <div class="level-left">
                    <div class="level-item">
                        <span class="icon">
                             <a href="https://rationence.eu">
                                <i class="fas fa-globe"></i>
                             </a>
                        </span>
                    </div>
                </div>
                <div class="level-right">
                    <small class="level-item" style="color: var(--textLight)">
                        &copy; Rationence s.r.l. All Rights Reserved.
                    </small>
                </div>
            </nav>
        </div>
    </div>
</section>
</body>
<style>

</style>

</html>