<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
    <title id="pageTitle">Login Rationence</title>
</head>

<body>
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>

<script type="text/javascript">
    async function saveProjects(){
        if(tableRowList.every(v => v === false))
            return 1;
        for (let index in tableRowList){
            if(tableRowList[index]){
                let data = new FormData(document.getElementById("form"+index));
                for (let value of data.values()) {
                    console.log(value);
                }
                if (index != "addProject")
                    await fetch("/updateProject", {method: 'POST', body: data})
                          .then(response => response.text())
                        .catch(error => console.log(error));
                else
                    await fetch("/addProject", {method: 'POST', body: data})
                        .then(response => response.text())
                        .catch(error => console.log(error));
            }
        }
        window.location.reload(true);
    }

    async function deleteProjects(){
        if(tableRowList.every(v => v === false))
            return 1;
        for (let index in tableRowList){
            if(tableRowList[index]){
                let data = new FormData(document.getElementById("form"+index));
                for (let value of data.values()) {
                    console.log(value);
                }
                if(index != 'addproject')
                    await fetch("/deleteProject", {method: 'POST', body: data})
                        .then(response => response.text())
                        .catch(error => console.log(error));
            }
        }
        window.location.reload(true);
    }

    function showConfirm(bool){
        let elem = document.getElementById("confirm-delete");
        if(bool && !tableRowList.every(v => v === false))
            elem.style.display = "block";
        else
            elem.style.display = "none";
    }
</script>

<section class=""> <!--hero is-fullheight-->
    <div class=""> <!--hero-body-->
        <div class="container mt-6">
            <div class="columns">
                <div class="column">

                    <div th:include="fragments/authbar.html :: authbar"></div>

                    <div class="level mt-5">
                        <div class="level-left">
                            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/projects">
                                    <span class="icon is-medium">
                                      <i class="fas fa-sheet-plastic" aria-hidden="true"></i>
                                    </span>
                                            <span>Projects</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="icon is-large has-text-primary-dark is-clickable" data-tooltip="Salva" th:onclick="'saveProjects();'">
                                  <i class="fas fa-save fa-2x"></i>
                                </span>
                                <span class="icon is-large has-text-primary-dark is-clickable" data-tooltip="Elimina" th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="confirm-delete" class="hidden notification is-primary">
                        <button class="delete" th:onclick="'showConfirm(false)'"></button>
                        <div class="level m-0">
                            <div class="level-left">
                                <div class="level-item">
                                    <p>Confermi di voler cancellare i progetti selezionati?</p>
                                </div>
                            </div>
                        </div>
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <p class="has-text-weight-semibold is-underlined ml-2"> Questa operazione sarà irreversibile e cancellerà tutti i dati legati ai progetti.</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <button class="button is-danger" th:onclick="'deleteProjects(), showConfirm(false);'">Prosegui</button>
                                    <button class="button ml-3" th:onclick="'showConfirm(false);'">Annulla</button>
                                </div>

                            </div>
                        </div>


                    </div>

                    <article class="message is-primary ">
                        <div class="message-header">
                            <p>Users Control Panel</p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-centered">
                                <div class="column">
                                    <div class="table__wrapper">
                                        <table>
                                            <tr >
                                                <th class="checkboxCol"></th>
                                                <th class="projectCol">Project</th>
                                                <th class="projectDescCol">Description</th>
                                                <th class="clientCol">Client</th>
                                                <th class="projectTypeCol">Type</th>
                                                <th class="dateCol">Start</th>
                                                <th class="dateCol">End</th>
                                                <th class="dateCol">Close</th>
                                                <th class="teamCol">Team</th>
                                                <th class="usernameCol">Project Manager</th>
                                                <th class="projectValueCol">Value</th>
                                            </tr>
                                            <!--/*@thymesVar id="listaUtenti" type=""*/-->
                                            <tr th:each="project,iter : ${listaProgetti}" th:id="riga+${iter.index}">
                                                <form th:action="@{/updateproject}"  th:id="form+${iter.index}" th:object="${project}" method="post">
                                                    <td style="text-align:center; vertical-align:middle;">
                                                        <input th:onclick="'selezionaRigaTabella(\'' + ${iter.index} + '\');'" type="checkbox" class="tablecheckbox">
                                                    </td>
                                                    <td>
                                                        <input class="input has-background-success-light has-text-primary is-primary" th:id="project + ${iter.index}" name="project" type="text" th:value="${project.getProjectKey}" th:placeholder="${project.getProjectKey}" maxlength="16" required readonly>
                                                    </td>
                                                    <td>
                                                        <input class="input" th:id="desc + ${iter.index}" name="description" type="text" th:value="${project.description}" th:placeholder="${project.description}" maxlength="64" required>
                                                    </td>
                                                    <td>
                                                        <div class="select">
                                                            <select th:id="client + ${iter.index}" name="client" th:selected="${project.client.getClientKey}" class="width110">
                                                                <option th:each="client : ${listaClienti}" th:selected="${project.client.getClientKey == client.getClientKey}" th:value="${client.getClientKey}" th:text="${client.getClientKey}"></option>
                                                            </select>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="select">
                                                             <select th:id="type + ${iter.index}" name="projectType" th:selected="${project.projectType.getProjectTypeKey}" class="width110">
                                                                 <option th:each="projectType : ${listaTipoProgetti}" th:selected="${project.projectType.getProjectTypeKey == projectType.getProjectTypeKey}" th:value="${projectType.getProjectTypeKey}" th:text="${projectType.getProjectTypeKey}"></option>
                                                             </select>
                                                        </div>
                                                    </td>

                                                </form>
                                            </tr>
                                            <!--new project form-->

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>