<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
</head>

<body>
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>

<script type="text/javascript">
    let columnList = ["checkbox", "projectKey", "projectDesc", "client", "projectType", "dateStart", "dateEnd", "dateClose",
        "team", "projectManager", "value"];

    async function action(actionString) {
        let error_log = "";
        let tableChanged = false;
        if (Object.values(tableRowList).every(v => v === false))
            return 1;
        switch (actionString) {
            case 'saveProjects':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        for (let value of data.values()) {
                            console.log(value);
                        }
                        console.log(data);
                        if (index !== "add")
                            await fetch("/projects", {method: 'PUT', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else
                                        span = "<span class=\"has-text-primary\">";
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                        else
                            await fetch("/projects", {method: 'POST', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                    }
                }
                break;
            case 'deleteProjects':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        if (index !== "add")
                            await fetch("/projects", {method: 'DELETE', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));

                    }
                }
                break;
        }
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }

    function filterTableRow() {
        for (let i = 0; document.getElementById("row" + i) !== null; i++) {
            let row = document.getElementById("row" + i);
            row.classList.remove('hidden');
        }
        let tableColumnList = ["ProjectKey", "ProjectDesc", "Client", "ProjectType", "DateStart", "DateEnd", "DateClose",
                                "Team", "ProjectManager", "Value"];
        for (let columnKey of tableColumnList) {
            let columnInputs = document.getElementsByClassName("f" + columnKey);
            let filterValue = document.getElementById(columnKey + "filter").value;
            for (let columnInput of columnInputs) {
                let parentTableRow;
                //I select sono a un livello innestato inferiore (hanno un div in più, quindi un parent in più)
                if (columnKey === "ProjectType" || columnKey === "Team" || columnKey === "ProjectManager" || columnKey === "Client")
                    parentTableRow = columnInput.parentNode.parentNode.parentNode;
                else
                    parentTableRow = columnInput.parentNode.parentNode;
                if (!columnInput.value.toLowerCase().includes(filterValue.toLowerCase()) && filterValue !== 'ALL') {
                    parentTableRow.classList.add('hidden');
                }
            }
        }
    }
</script>

<section class="">
    <div class="container mt-6">
        <div class="columns">
            <div class="column" style="min-width:1500px;">

                <div th:include="fragments/authbar.html :: authbar"></div>

                <div class="level mt-5">
                    <div class="level-left">
                        <nav class="breadcrumb has-arrow-separator is-medium level-item" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/projects">
                                        <span>Projects</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Save"
                                  th:onclick="'action(\'saveProjects\');'">
                                  <i class="fas fa-save fa-2x table-button"></i>
                                </span>
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Delete"
                                  th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x table-button"></i>
                                </span>
                        </div>
                    </div>
                </div>

                <div id="error-log" class="hidden notification has-background-primary-light">
                    <button class="delete" th:onclick="'showErrorLog(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p id="error-log-text" class="has-text-weight-semibold ml-2"></p>
                            </div>
                        </div>
                        <div class="level-right">
                        </div>
                    </div>
                </div>

                <div id="confirm-delete" class="hidden notification is-primary">
                    <button class="delete" th:onclick="'showConfirm(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                                <p>Do you really want to delete selected projects?</p>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="has-text-weight-semibold is-underlined ml-2"> This action is not reversible
                                    and will erase all project-related data.</p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-danger"
                                        th:onclick="'action(\'deleteProjects\'), showConfirm(false);'">Continue
                                </button>
                                <button class="button ml-3" th:onclick="'showConfirm(false);'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <article class="message is-primary">
                    <div class="message-header">
                        <p class="subtitle has-text-white has-text-weight-semibold m-auto">Project Management</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="table__wrapper">
                                    <table id="sortableTable" class="mx-auto">
                                        <!-- Search Filter -->
                                        <tr>
                                            <th></th>
                                            <th class="has-text-primary-dark">Search Filter</th>
                                        </tr>
                                        <tr id="rowfilter">
                                            <td style="text-align:center; vertical-align:middle;">

                                            </td>
                                            <td>
                                                <input class="input has-text-primary has-text-weight-semibold"
                                                       th:id="ProjectKeyfilter" name="projectKey" type="text"
                                                       placeholder="" maxlength="16" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <input class="input" id="ProjectDescfilter" name="projectDesc"
                                                       type="text" placeholder="" maxlength="32" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="Clientfilter" name="client"
                                                            class="" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="client : ${clientList}"
                                                                th:value="${client.clientKey}"
                                                                th:text="${client.clientKey}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="ProjectTypefilter" name="projectType"
                                                            class="" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="projectType : ${projectTypeList}"
                                                                th:value="${projectType.projectTypeKey}"
                                                                th:text="${projectType.projectTypeKey}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="input" id="DateStartfilter" name="dateStart"
                                                       type="date" placeholder="" required
                                                       th:onchange="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <input class="input" id="DateEndfilter" name="dateEnd"
                                                       type="date" placeholder="" required
                                                       th:onchange="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <input class="input" id="DateClosefilter" name="dateClose"
                                                       type="date" placeholder="" required
                                                       th:onchange="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="Teamfilter" name="team"
                                                            class="width110" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="team : ${teamList}"
                                                                th:value="${team.teamName}"
                                                                th:text="${team.teamName}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="select width180">
                                                    <select th:id="ProjectManagerfilter" name="projectManager"
                                                            class="" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="user : ${userList}"
                                                                th:value="${user.username}"
                                                                th:text="${user.username}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="input" id="Valuefilter" name="value"
                                                       type="number" placeholder="" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <!-- header table -->
                                        <tr class="table-header">
                                            <th class="checkboxCol has-text-primary-dark table-header"></th>
                                            <th class="projectKeyCol has-text-primary-dark table-header">Project
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'projectKey\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="projectDescCol has-text-primary-dark table-header">Description
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'projectDesc\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="clientCol has-text-primary-dark table-header">Client
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'client\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="projectTypeCol has-text-primary-dark table-header">Type
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'projectTypeKey\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="dateCol has-text-primary-dark table-header">Start Date
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'dateStart\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="dateCol has-text-primary-dark table-header">End Date
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'dateEnd\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="dateCol has-text-primary-dark table-header">Close Date
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'dateClose\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="teamNameCol has-text-primary-dark table-header width110">Team
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'team\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="usernameCol has-text-primary-dark table-header">PM
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'projectManager\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="valueCol has-text-primary-dark table-header">Value
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'value\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <!-- Data rows -->
                                        <tr th:each="project,iter : ${projectList}" th:id="row+${iter.index}">
                                            <form th:action="@{/projects}" th:id="form+${iter.index}"
                                                  th:object="${project}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkbox+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fProjectKey"
                                                           th:id="projectKey + ${iter.index}" name="projectKey" type="text"
                                                           th:value="${project.projectKey}"
                                                           th:placeholder="${project.projectKey}" maxlength="16" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input fProjectDesc" th:id="projectDesc + ${iter.index}" name="projectDesc"
                                                           type="text" th:value="${project.projectDesc}"
                                                           th:placeholder="${project.projectDesc}" maxlength="32" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="client + ${iter.index}" name="client"
                                                                class="fClient">
                                                            <option name="client" th:each="client : ${clientList}"
                                                                    th:selected="${project.client.clientKey == client.clientKey}"
                                                                    th:value="${client.clientKey}"
                                                                    th:text="${client.clientKey}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="projectType + ${iter.index}" name="projectType" class="fProjectType">
                                                            <option name="projectType" th:each="projectType : ${projectTypeList}"
                                                                    th:selected="${project.projectType.projectTypeKey == projectType.projectTypeKey}"
                                                                    th:value="${projectType.projectTypeKey}"
                                                                    th:text="${projectType.projectTypeKey}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="input dateCol fDateStart" th:id="dateStart + ${iter.index}" name="dateStart"
                                                           type="date" th:value="${project.dateStart}"
                                                           th:placeholder="${project.dateStart}" required>
                                                </td>
                                                <td>
                                                    <input class="input dateCol fDateEnd" th:id="dateEnd + ${iter.index}" name="dateEnd"
                                                           type="date" th:value="${project.dateEnd}"
                                                           th:placeholder="${project.dateEnd}" required>
                                                </td>
                                                <td>
                                                    <input class="input dateCol fDateClose" th:id="dateClose + ${iter.index}" name="dateClose"
                                                           type="date" th:value="${project.dateClose}"
                                                           th:placeholder="${project.dateClose}" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="team + ${iter.index}" name="team" class="fTeam  width110">
                                                            <option name="team" th:each="team : ${teamList}"
                                                                    th:selected="${project.team.teamName == team.teamName}"
                                                                    th:value="${team.teamName}"
                                                                    th:text="${team.teamName}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select width180">
                                                        <select th:id="projectManager + ${iter.index}" name="projectManager" class="fProjectManager">
                                                            <option name="projectManager" th:each="user : ${userList}"
                                                                    th:selected="${project.projectManager.username == user.username}"
                                                                    th:value="${user.username}"
                                                                    th:text="${user.username}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="input has-text-right fValue" th:id="value + ${iter.index}" name="value"
                                                           type="number" th:value="${project.value}"
                                                           th:placeholder="${project.value}" required>
                                                </td>
                                                <td>
                                                    <a th:href="'/projects/' + ${project.projectKey}">
                                                        <span class="icon has-text-primary mt-2 ml-2 table-button" th:data-tooltip="${project.projectKey} + ' Activities'">
                                                            <i class="fas fa-arrow-alt-square-right fa-lg is-clickable table-button"></i>
                                                            <i class="ml-1 has-text-weight-semibold table-button" th:text="${#vars.getVariable('__${project.projectKey}__Activities')}"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </form>
                                        </tr>
                                        <!--new team form-->
                                        <tr id="rowadd">
                                            <form th:action="@{/projects}" id="formadd" th:object="${project}"
                                                  method="post">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input id="checkboxadd"
                                                           th:onclick="'selectTableRow(\'add\');'" type="checkbox"
                                                           class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-text-primary has-text-weight-semibold"
                                                           th:id="projectKeyaddProject" name="projectKey" type="text"
                                                           placeholder="" maxlength="16" required>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="descaddProject" name="projectDesc" type="text"
                                                           placeholder="" maxlength="32" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="clientaddProject" name="client" class="">
                                                            <option th:each="client : ${clientList}"
                                                                    th:value="${client.clientKey}"
                                                                    th:text="${client.clientKey}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="projectTypeaddProject" name="projectType">
                                                            <option th:each="projectType : ${projectTypeList}"
                                                                    th:value="${projectType.projectTypeKey}"
                                                                    th:text="${projectType.projectTypeKey}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="dateStartaddProject" name="dateStart"
                                                           type="date" required>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="dateEndaddProject" name="dateEnd"
                                                           type="date" required>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="dateCloseaddProject" name="dateClose"
                                                           type="date" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="teamaddProject" name="team" class="width110">
                                                            <option th:each="team : ${teamList}"
                                                                    th:value="${team.teamName}"
                                                                    th:text="${team.teamName}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select width180">
                                                        <select th:id="projectManageraddProject" name="projectManager">
                                                            <option th:each="user : ${userList}"
                                                                    th:value="${user.username}"
                                                                    th:text="${user.username}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="valueaddProject" name="value"
                                                           type="number" required>
                                                </td>
                                            </form>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>

</html>