<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
    <title id="pageTitle">Login Rationence</title>
</head>

<body>
<script src="/js/mainjs.js"></script>
<script type="text/javascript">

    async function saveRoles(){
        for (let index in tableRowList){
            if(tableRowList[index]){
                let data = new FormData(document.getElementById("form"+index));
                for (let value of data.values()) {
                    console.log(value);
                }
                await fetch("/addRole", {method: 'POST', body: data})
                    .then(response => response.text())
                    .catch(error => console.log(error));
            }
        }
        window.location.reload(true);
    }

    async function deleteRoles(){
        for (let index in tableRowList){
            if(tableRowList[index]){
                let data = new FormData(document.getElementById("form"+index));
                for (let value of data.values()) {
                    console.log(value);
                }
                if(index != 'addrole')
                    await fetch("/deleteRole", {method: 'POST', body: data})
                        .then(response => response.text())
                        .catch(error => console.log(error));
            }
        }
        window.location.reload(true);
    }

    function showConfirm(bool){
        let elem = document.getElementById("confirm-delete");
        if(bool && !tableRowList.every(v => v === false))
            elem.style.display = "block";
        else
            elem.style.display = "none";
    }
</script>

<section class=""> <!--hero is-fullheight-->
    <div class=""> <!--hero-body-->
        <div class="container mt-6">
            <div class="columns">
                <div class="column">

                    <div th:include="fragments/authbar.html :: authbar"></div>

                    <div class="level mt-5">
                        <div class="level-left">
                            <nav class="breadcrumb is-medium" aria-label="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="/">
                                        <span class="icon is-medium">
                                          <i class="fas fa-home" aria-hidden="true"></i>
                                        </span>
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/users">
                                        <span class="icon is-medium">
                                          <i class="fas fa-user" aria-hidden="true"></i>
                                        </span>
                                            <span>Users</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/roles">
                                        <span class="icon is-medium">
                                          <i class="fas fa-user-tag" aria-hidden="true"></i>
                                        </span>
                                            <span>Roles</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="icon is-large has-text-primary-dark is-clickable" data-tooltip="Salva" th:onclick="'saveRoles();'">
                                  <i class="fas fa-save fa-2x"></i>
                                </span>
                                <span class="icon is-large has-text-primary-dark is-clickable" data-tooltip="Elimina" th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div id="confirm-delete" class="hidden notification is-primary">
                        <button class="delete" th:onclick="'showConfirm(false)'"></button>
                        <div class="level m-0">
                            <div class="level-left">
                                <div class="level-item">
                                    <p>Confermi di voler cancellare i ruoli selezionati?</p>
                                </div>
                            </div>
                        </div>
                        <div class="level">
                            <div class="level-left">
                                <div class="level-item">
                                    <p class="has-text-weight-semibold is-underlined ml-2"> Questa operazione sarà irreversibile e cancellerà tutti i ruoli selezionati.</p>
                                </div>
                            </div>
                            <div class="level-right">
                                <div class="level-item">
                                    <button class="button is-danger" th:onclick="'deleteRoles(), showConfirm(false);'">Prosegui</button>
                                    <button class="button ml-3" th:onclick="'showConfirm(false);'">Annulla</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <article class="message is-primary ">
                        <div class="message-header">
                            <p>Roles Control Panel</p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-centered">
                                <div class="column">
                                    <div class="table__wrapper">
                                        <table>
                                            <tr >
                                                <th class="checkboxCol"></th>
                                                <th class="rolenameCol">Role</th>
                                            </tr>
                                            <!--/*@thymesVar id="listaUtenti" type=""*/-->
                                            <tr th:each="role,iter : ${listaRuoli}" th:id="riga+${iter.index}">
                                                <form  th:id="form+${iter.index}" th:object="${role}" method="post">
                                                    <td style="text-align:center; vertical-align:middle;">
                                                        <input th:onclick="'selezionaRigaTabella(\'' + ${iter.index} + '\');'" type="checkbox" class="tablecheckbox">
                                                    </td>
                                                    <td>
                                                        <input class="input has-background-success-light has-text-primary is-primary" th:id="rolename + ${iter.index}" name="roleName" type="text" th:value="${role.roleName}" th:placeholder="${role.roleName}" maxlength="50" required readonly>
                                                    </td>
                                                </form>
                                            </tr>
                                            <!--new user form-->
                                            <tr th:id="rigaaddrole">
                                                <form  id="formaddrole" th:object="${role}" method="post">
                                                    <td style="text-align:center; vertical-align:middle;">
                                                        <input th:onclick="'selezionaRigaTabella(\'addrole\');'" type="checkbox" class="tablecheckbox">
                                                    </td>
                                                    <td>
                                                        <input class="input has-background-success-light has-text-primary is-primary" th:id="rolenameaddrole" name="roleName" type="text" placeholder="" maxlength="50" required>
                                                    </td>
                                                </form>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>


                </div>
            </div>
        </div>
    </div>
</section>

</body>

</html>