<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
</head>

<body>
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>

<script type="text/javascript">
    let columnList = ["checkbox", "teamName", "teamDesc", "teamAdmin"];

    async function action(actionString) {
        let error_log = "";
        let tableChanged = false;
        if (Object.values(tableRowList).every(v => v === false))
            return 1;
        switch (actionString) {
            case 'saveTeams':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        for (let value of data.values()) {
                            console.log(value);
                        }
                        console.log(data);
                        if (index !== "add")
                            await fetch("/teams", {method: 'PUT', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else
                                        span = "<span class=\"has-text-primary\">";
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                        else
                            await fetch("/teams", {method: 'POST', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                    }
                }
                break;
            case 'deleteTeams':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        if (index != "add")
                            await fetch("/teams", {method: 'DELETE', body: data})
                                .then(async response => {
                                    let body = await response.text().then(val => val);
                                    let status = response.status;
                                    let span;
                                    if (status !== 200)
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));

                    }
                }
                break;
        }
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }

    function filterTableRow() {
        for (let i = 0; document.getElementById("row" + i) !== null; i++) {
            let row = document.getElementById("row" + i);
            row.classList.remove('hidden');
        }
        let tableColumnList = ["TeamName", "TeamDesc", "TeamAdmin"];
        for (let columnKey of tableColumnList) {
            let columnInputs = document.getElementsByClassName("f" + columnKey);
            let filterValue = document.getElementById(columnKey + "filter").value;
            for (let columnInput of columnInputs) {
                let parentTableRow;
                //I select sono a un livello innestato inferiore (hanno un div in più, quindi un parent in più)
                if (columnKey === "TeamAdmin")
                    parentTableRow = columnInput.parentNode.parentNode.parentNode;
                else
                    parentTableRow = columnInput.parentNode.parentNode;
                if (!columnInput.value.toLowerCase().includes(filterValue.toLowerCase()) && filterValue !== 'ALL') {
                    parentTableRow.classList.add('hidden');
                }
            }
        }
    }
</script>

<section class="">
    <div class="container mt-6">
        <div class="columns">
            <div class="column" style="min-width:685px;">

                <div th:include="fragments/authbar.html :: authbar"></div>

                <div class="level mt-5">
                    <div class="level-left">
                        <nav class="breadcrumb has-succeeds-separator is-medium level-item" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/teams">
                                        <span>Teams</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Save"
                                  th:onclick="'action(\'saveTeams\');'">
                                  <i class="fas fa-save fa-2x table-button"></i>
                                </span>
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Delete"
                                  th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x table-button"></i>
                                </span>
                        </div>
                    </div>
                </div>

                <div id="error-log" class="hidden notification has-background-primary-light">
                    <button class="delete" th:onclick="'showErrorLog(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p id="error-log-text" class="has-text-weight-semibold ml-2"></p>
                            </div>
                        </div>
                        <div class="level-right">
                        </div>
                    </div>
                </div>

                <div id="confirm-delete" class="hidden notification is-primary">
                    <button class="delete" th:onclick="'showConfirm(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                                <p>Do you really want to delete selected teams?</p>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="has-text-weight-semibold is-underlined ml-2"> This action is not reversible
                                    and will erase all team-related data.</p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-danger"
                                        th:onclick="'action(\'deleteTeams\'), showConfirm(false);'">Continue
                                </button>
                                <button class="button ml-3" th:onclick="'showConfirm(false);'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <article class="message is-primary">
                    <div class="message-header">
                        <p class="subtitle has-text-white has-text-weight-semibold m-auto">Team Management</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="table__wrapper">
                                    <table id="sortableTable" class="mx-auto">
                                        <!-- Search Filter -->
                                        <tr>
                                            <th></th>
                                            <th class="has-text-primary-dark">Search Filter</th>
                                        </tr>
                                        <tr id="rowfilter">
                                            <td style="text-align:center; vertical-align:middle;">

                                            </td>
                                            <td>
                                                <input class="input has-text-primary has-text-weight-semibold"
                                                       th:id="TeamNamefilter" name="teamName" type="text"
                                                       placeholder="" maxlength="5" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <input class="input" id="TeamDescfilter" name="teamDesc"
                                                       type="text" placeholder="" maxlength="32" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="TeamAdminfilter" name="teamAdmin"
                                                            class="width200 fTeamAdmin" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="user : ${userList}"
                                                                th:value="${user.username}"
                                                                th:text="${user.username}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- header table -->
                                        <tr class="table-header">
                                            <th class="checkboxCol has-text-primary-dark table-header"></th>
                                            <th class="teamNameCol has-text-primary-dark table-header pl-2">Team Key
                                                <span class="icon has-text-primary is-pulled-right mr-1"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'teamName\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="teamDescCol has-text-primary-dark table-header pl-2">Description
                                                <span class="icon has-text-primary is-pulled-right mr-1"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'teamDesc\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="surnameCol has-text-primary-dark table-header pl-2">Team Admin
                                                <span class="icon has-text-primary is-pulled-right mr-1"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'teamAdmin\',columnList);'"></i>
                                                </span>
                                            </th>
                                        </tr>
                                        <!-- Data rows -->
                                        <tr th:each="team,iter : ${teamList}" th:id="row+${iter.index}">
                                            <form th:action="@{/teams}" th:id="form+${iter.index}"
                                                  th:object="${team}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkbox+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fTeamName"
                                                           th:id="teamName + ${iter.index}" name="teamName" type="text"
                                                           th:value="${team.teamName}"
                                                           th:placeholder="${team.teamName}" maxlength="5" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input fTeamDesc" th:id="teamDesc + ${iter.index}" name="teamDesc"
                                                           type="text" th:value="${team.teamDesc}"
                                                           th:placeholder="${team.teamDesc}" maxlength="32" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="teamAdmin + ${iter.index}" name="teamAdmin"
                                                                class="width200 fTeamAdmin">
                                                            <option name="teamAdmin" th:each="user : ${userList}"
                                                                    th:selected="${team.teamAdmin == user.username}"
                                                                    th:value="${user.username}"
                                                                    th:text="${user.username}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </form>
                                        </tr>
                                        <!--new team form-->
                                        <tr id="rowadd">
                                            <form th:action="@{/teams}" id="formadd" th:object="${team}"
                                                  method="post">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input id="checkboxadd"
                                                           th:onclick="'selectTableRow(\'add\');'" type="checkbox"
                                                           class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-text-primary has-text-weight-semibold"
                                                           th:id="usernameaddteam" name="teamName" type="text"
                                                           placeholder="" maxlength="5" required>
                                                </td>
                                                <td>
                                                    <input class="input" th:id="descaddteam" name="teamDesc" type="text"
                                                           placeholder="" maxlength="128" required>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="teamAdminaddteam" name="teamAdmin" class="width200">
                                                            <option th:each="user : ${userList}"
                                                                    th:value="${user.username}"
                                                                    th:text="${user.username}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </form>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>

</html>