<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
</head>

<body>
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>

<script type="text/javascript">
    let columnList = ["checkbox", "activity", "location"];

    async function addTracking(actionString, year, month) {
        let error_log = "";
        let tableChanged = false;
        if (tableRowList.every(v => v === false) && actionString !== "addTracking")
            return 1;

        console.log("mese e anno: " + month + " " + year);
        let data = new FormData(document.getElementById("formAddProjectActivity"));
        for (let value of data.values()) {
            console.log(value);
        }
        let url = "/tracking/" + year + "/" + month;
        event.preventDefault();
        await fetch(url, {method: 'POST', body: data})
            .then(response => response.text())
            .then(body => {
                let span;
                if (body.includes("ERROR"))
                    span = "<span class=\"has-text-danger\">";
                else {
                    span = "<span class=\"has-text-primary\">";
                    tableChanged = true;
                }
                error_log += span + body + "</span><br>";
            })
            .catch(error => console.log(error));
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }

    async function action(actionString, year, month) {
        let error_log = "";
        let tableChanged = false;
        if (tableRowList.every(v => v === false) && actionString !== "addTracking")
            return 1;
        switch (actionString) {
            case 'saveTracking':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        for (let value of data.values()) {
                            console.log(value);
                        }
                        console.log(data);
                        await fetch("/tracking", {method: 'PUT', body: data})
                            .then(response => response.text())
                            .then(body => {
                                let span;
                                if (body.includes("ERROR"))
                                    span = "<span class=\"has-text-danger\">";
                                else
                                    span = "<span class=\"has-text-primary\">";
                                error_log += span + body + "</span><br>";
                            })
                            .catch(error => console.log(error));
                    }
                }
                break;
            case 'deleteTracking':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        if (index != "99999")
                            await fetch("/tracking", {method: 'DELETE', body: data})
                                .then(response => response.text())
                                .then(body => {
                                    let span;
                                    if (body.includes("ERROR"))
                                        span = "<span class=\"has-text-danger\">";
                                    else
                                        span = "<span class=\"has-text-primary\">";
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));

                    }
                }
                return window.location.reload(true)
                break;
            case 'addTracking':
                console.log("mese e anno: " + month + " " + year);
                let data = new FormData(document.getElementById("formAddProjectActivity"));
                for (let value of data.values()) {
                    console.log(value);
                }
                let inputActivity = document.getElementById("projectActivityAddactivity");
                let inputLocation = document.getElementById("locationAddactivity");
                await fetch("/tracking/"+year+"/"+month, {method: 'POST', body: data})
                    .then(response => response.text())
                    .then(body => {
                        let span;
                        if (body.includes("ERROR"))
                            span = "<span class=\"has-text-danger\">";
                        else {
                            span = "<span class=\"has-text-primary\">";
                            tableChanged = true;
                        }
                        error_log += span + body + "</span><br>";
                    })
                    .catch(error => console.log(error));
        }
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }

    function filterTableRow() {
        for (let i = 0; i < 99998; i++) {
            let row = document.getElementById("row" + i);
            if (row != null)
                row.classList.remove('hidden');
            else
                break;
        }
        let tableColumnList = ["Activity", "Location"];
        for (let columnKey of tableColumnList) {
            let columnInputs = document.getElementsByClassName("f" + columnKey);
            let filterValue = document.getElementById(columnKey + "filter").value;
            for (let columnInput of columnInputs) {
                let parentTableRow = columnInput.parentNode.parentNode;
                if (!columnInput.value.toLowerCase().includes(filterValue.toLowerCase()) && filterValue !== 'ALL') {
                    parentTableRow.classList.add('hidden');
                }
            }
        }
    }
</script>

<section class="">
    <div class="container mt-6 is-fluid">
        <div class="columns">
            <div class="column" style="min-width:1600px;">

                <div th:include="fragments/authbar.html :: authbar"></div>

                <div class="level mt-5">
                    <div class="level-left">
                        <nav class="breadcrumb has-arrow-separator is-medium level-item" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/tracking">
                                        <span>Tracking</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Save"
                                  th:onclick="'action(\'saveTracking\');'">
                                  <i class="fas fa-save fa-2x table-button"></i>
                                </span>
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Delete"
                                  th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x table-button"></i>
                                </span>
                        </div>
                    </div>
                </div>

                <div id="error-log" class="hidden notification has-background-primary-light">
                    <button class="delete" th:onclick="'showErrorLog(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p id="error-log-text" class="has-text-weight-semibold ml-2"></p>
                            </div>
                        </div>
                        <div class="level-right">
                        </div>
                    </div>
                </div>

                <div id="confirm-delete" class="hidden notification is-primary">
                    <button class="delete" th:onclick="'showConfirm(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                                <p>Do you really want to delete selected activities?</p>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="has-text-weight-semibold is-underlined ml-2"> This action is not reversible
                                    and will erase all selected activities filled data.</p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-danger"
                                        th:onclick="'action(\'deleteTeams\'), showConfirm(false);'">Continue
                                </button>
                                <button class="button ml-3" th:onclick="'showConfirm(false);'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <article class="message is-primary">
                    <div class="message-header">
                        <p class="subtitle has-text-white has-text-weight-semibold m-auto">Tracking</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="table__wrapper">
                                    <div class="is-6 has-text-centered has-text-weight-bold mx-auto">
                                        <a th:href="'/tracking/' + ${previousYear} + '/'+${previousMonth}">
                                            <span class="icon is-medium has-text-primary is-clickable"
                                                  data-tooltip="Previous">
                                                    <i class="fas fa-arrow-alt-square-left fa-lg table-button"></i>
                                            </span>
                                        </a>
                                        <span class="my-auto is-size-4 has-text-weight-bold" th:text="${monthName}+' '+${year}">
                                        </span>
                                        <a th:if="${nextAvailable == false}" th:href="'/tracking/' + ${nextYear} + '/'+${nextMonth}">
                                            <span class="icon is-medium has-text-primary is-clickable"
                                                  data-tooltip="Next">
                                                    <i class="fas fa-arrow-alt-square-right fa-lg table-button"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <table id="sortableTable" class="mx-auto">
                                        <!--
                                        <tr>
                                            <th></th>
                                            <th class="has-text-primary-dark">Search Filter</th>
                                        </tr>
                                        <tr id="rowfilter">
                                            <td style="text-align:center; vertical-align:middle;">
                                            </td>
                                            <td>
                                                <input class="input has-text-primary has-text-weight-semibold"
                                                       th:id="TeamNamefilter" name="teamName" type="text"
                                                       placeholder="" maxlength="5" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="Locationfilter" name="location"
                                                            class="width110 fLocation" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="location : ${locationList}"
                                                                th:value="${location.locationName}"
                                                                th:text="${location.locationName}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>-->
                                        <!-- header table -->
                                        <tr class="table-header">
                                            <th class="checkboxCol has-text-primary-dark table-header"></th>
                                            <th class="activityTrackingCol has-text-primary-dark table-header">Activity
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'teamName\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="locationCol has-text-primary-dark table-header">Location
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'teamDesc\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="hoursCol has-text-primary-dark table-header has-text-centered" th:each="i : ${#numbers.sequence( 1, monthDays/1)}" th:text="${i}">
                                            </th>
                                            <th class="hoursCol has-text-primary-dark table-header">Tot
                                            </th>
                                        </tr>
                                        <!-- Data rows -->
                                        <tr th:each="projectActivity,iter : ${projectActivityList}" th:id="row+${iter.index}">
                                            <form th:action="@{/tracking}" th:id="form+${iter.index}"
                                                  th:object="${compiledProjectActivity}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkbox+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fProjectActivity"
                                                           th:id="projectActivity + ${iter.index}" name="projectActivity" type="text"
                                                           th:value="${projectActivity.getProject()} + ':' +${projectActivity.getActivityKey()}"
                                                           th:placeholder="${projectActivity.getProject()} + ':' +${projectActivity.getActivityKey()}" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fLocation"
                                                           th:id="location + ${iter.index}" name="location" type="text"
                                                           th:value="${projectActivity.getLocation()}"
                                                           th:placeholder="${projectActivity.getLocation()}" required
                                                           readonly>
                                                </td>
                                                <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                    <input class="input has-text-centered" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                           th:id="hour+${projectActivity.getProject()}+${projectActivity.getActivityKey()}+${i}" name="hour"
                                                           type="number"
                                                           th:value="${#vars.getVariable('__${projectActivity.getProject()}__.__${projectActivity.getActivityKey()}__.__${projectActivity.getLocation()}__.__${i}__')}"
                                                           th:placeholder="${#vars.getVariable('__${projectActivity.getProject()}__.__${projectActivity.getActivityKey()}__.__${projectActivity.getLocation()}__.__${i}__')}"
                                                           required>
                                                </td>
                                            </form>
                                        </tr>
                                        <tr th:each="standardActivity,iter : ${standardActivityList}" th:id="rowS+${iter.index}">
                                            <form th:action="@{/tracking}" th:id="form+${iter.index}"
                                                  th:object="${standardActivity}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkboxS+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fProjectActivity"
                                                           th:id="standardActivity + ${iter.index}" name="standardActivity" type="text"
                                                           th:value="'Std:' +${standardActivity.getActivityKey()}"
                                                           th:placeholder="'Std: ' +${standardActivity.getActivityKey()}" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fLocation"
                                                           th:id="Slocation + ${iter.index}" name="location" type="text"
                                                           th:value="${standardActivity.getLocation()}"
                                                           th:placeholder="${standardActivity.getLocation()}" required
                                                           readonly>
                                                </td>
                                                <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                    <input class="input has-text-centered" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                           th:id="Shour+${standardActivity.getActivityKey()}+${i}" name="hour"
                                                           type="number"
                                                           th:value="${#vars.getVariable('Standard.__${standardActivity.getActivityKey()}__.__${standardActivity.getLocation()}__.__${i}__')}"
                                                           th:placeholder="${#vars.getVariable('Standard.__${standardActivity.getActivityKey()}__.__${standardActivity.getLocation()}__.__${i}__')}"
                                                           required>
                                                </td>
                                            </form>
                                        </tr>


                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Tot</td>
                                            <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                <input class="input has-text-centered" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                       th:id="hourTot+${i}"
                                                       type="number"
                                                       th:value="0"
                                                       th:placeholder="0"
                                                       required>
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="mx-auto mt-4">
                                        <!--new team form-->
                                        <tr id="row99999">
                                            <form id="formAddProjectActivity">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="projectActivityAddactivity" name="projectActivityKeys" class="has-text-primary has-text-weight-semibold">
                                                            <option th:each="userActivity,iter : ${userActivityList}"
                                                                    th:value="${userActivity.getProject()} + ':' +${userActivity.getActivityKey()}"
                                                                    th:text="${userActivity.getProject()} + ': ' +${userActivity.getActivityKey()}"></option>
                                                            <option th:each="standardActivity,iter : ${allStandardList}"
                                                                    th:value="'Std:' +${standardActivity.getActivityKey()}"
                                                                    th:text="'Std: ' +${standardActivity.getActivityKey()}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="locationAddactivity" name="locationName" class="has-text-primary has-text-weight-semibold">
                                                            <option th:each="location : ${locationList}"
                                                                    th:value="${location.locationName}"
                                                                    th:text="${location.locationName}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </form>
                                                <td>
                                                    <button class="button is-primary"
                                                            th:onclick="'action(\'addTracking\',' + ${year} + ',' + ${month} +');'">
                                                        Add Activity</button>
                                                </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>

</html>