<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
</head>

<body onload="computeSubTotals(), applyFilter()">
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="/js/export-excel.js"></script>


<script type="text/javascript">
    let columnList = ["checkbox", "activity", "location"];

    function applyFilter(){
        let inputboxes = document.getElementsByClassName("numeric-input");
        for(let inputbox of inputboxes){
            setInputFilter(inputbox, function(value) {
                return /^\d*$/.test(value) && (value === "" || (parseInt(value) <= 12 && !isNaN(value))); }, "Must be between 0 and 12");
        }
    }

    function computeSubTotals(){
        let warningExtraordinary = document.getElementById("warningExtraordinary");
        warningExtraordinary.classList.add('hidden');
        let checkboxes = document.getElementsByClassName("tablecheckbox");
        for(let c of checkboxes){
            c.onclick();
            c.onclick();
        }
        let dailySubtotal = {0:0};
        let rowSubtotal = {0:0};
        let totalHours = 0;
        for(let index in tableRowList) {
            rowSubtotal[index] = 0;

            for(let day=1; day <= 31; day++){
                if(index !== "add"){
                    let dailyInput = document.getElementById("hour" + index + "." + day);
                    if(dailyInput !== null){
                        let val = parseInt(dailyInput.value);
                        if(!isNaN(val))
                            rowSubtotal[index] += val;
                        else
                            dailyInput.value = 0;
                    }
                }
            }
            if(index !== "add")
                document.getElementById("rowTotal"+index).value = rowSubtotal[index];
        }
        for(let day=1; day <= 31; day++){
            dailySubtotal[day] = 0;
            let dailyInput = document.getElementById("hourTot"+day);
            if(dailyInput !== null){
                for(let index in tableRowList) {
                    if (index !== "add") {
                        let val = parseInt(document.getElementById("hour" + index + "." + day).value);
                        if(!isNaN(val)){
                            dailySubtotal[day] += val;
                            totalHours += val;
                        }
                    }
                }
                dailyInput.value = dailySubtotal[day];
                if(dailySubtotal[day] > parseInt(dailyInput.getAttribute("hourstowork"))){
                    dailyInput.classList.add('has-background-warning');
                    warningExtraordinary.classList.remove('hidden');
                }
                else
                    dailyInput.classList.remove('has-background-warning');
            }
        }
        document.getElementById("hourTotFinal").value = totalHours;
    }

    async function action(actionString, year, month) {
        let error_log = "";
        let tableChanged = false;
        if (actionString !== "addTracking" && actionString !=="saveTracking" && Object.values(tableRowList).every(v => v === false))
            return 1;
        let data;
        switch (actionString) {
            case 'saveTracking':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        for(let day=1; day <= 31; day++){
                            let form = document.getElementById("form" + index + "." + day);
                            if(form != null){
                                data = new FormData(form);
                                await fetch("/tracking/" + year + "/" + month, {method: 'PUT', body: data})
                                    .then(response => response.text())
                                    .then(body => {
                                        let span;
                                        if (body.includes("ERROR")){
                                            span = "<span class=\"has-text-danger\">";
                                            error_log = span + body + "</span><br>";
                                        }
                                        else{
                                            span = "<span class=\"has-text-primary\">";
                                            if(error_log === "")
                                                error_log += span + body + "</span><br>";
                                        }
                                    })
                                    .catch(error => console.log(error));
                            }
                        }
                    }
                }
                data = new FormData(document.getElementById("formNote"));
                await fetch("/trackingNote/"+year+"/"+month, {method: 'PUT', body: data})
                    .then(response => response.text())
                    .then(body => {
                        let span;
                        if (body.includes("ERROR"))
                            span = "<span class=\"has-text-danger\">";
                        else {
                            span = "<span class=\"has-text-primary\">";
                        }
                        error_log += span + body + "</span><br>";
                    })
                    .catch(error => console.log(error));
                break;
            case 'deleteTracking':
                for (let index in tableRowList) {
                    console.log(Object.keys(tableRowList));
                    console.log(index);
                    if (tableRowList[index]) {
                        let form = document.getElementById("form" + index + ".1");
                        console.log(form);
                        if(form != null){
                            data = new FormData(form);
                            await fetch("/tracking/" + year + "/" + month, {method: 'DELETE', body: data})
                                .then(response => response.text())
                                .then(body => {
                                    let span;
                                    if (body.includes("ERROR"))
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                        }
                    }
                }
                break;
            case 'addTracking':
                data = new FormData(document.getElementById("formAddProjectActivity"));
                for (let value of data.values()) {
                    console.log(value);
                }
                let url = "/tracking/" + year + "/" + month;
                await fetch(url, {method: 'POST', body: data})
                    .then(response => response.text())
                    .then(body => {
                        let span;
                        if (body.includes("ERROR"))
                            span = "<span class=\"has-text-danger\">";
                        else {
                            span = "<span class=\"has-text-primary\">";
                            tableChanged = true;
                        }
                        error_log += span + body + "</span><br>";
                    })
                    .catch(error => console.log(error));
                break;
        }
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }
</script>

<section class="">
    <div class="container mt-6 is-fluid">
        <div class="columns">
            <div class="column" style="min-width:1600px;">

                <div th:include="fragments/authbar.html :: authbar"></div>

                <div class="level mt-5">
                    <div class="level-left">
                        <nav class="breadcrumb has-arrow-separator is-medium level-item" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/tracking">
                                        <span>Tracking</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Save"
                                  th:onclick="'action(\'saveTracking\',' + ${year} + ',' + ${month} +');'">
                                  <i class="fas fa-save fa-2x table-button"></i>
                                </span>
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Delete"
                                  th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x table-button"></i>
                                </span>
                        </div>
                    </div>
                </div>

                <div id="error-log" class="hidden notification has-background-primary-light">
                    <button class="delete" onclick="showErrorLog(false);"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p id="error-log-text" class="has-text-weight-semibold ml-2"></p>
                            </div>
                        </div>
                        <div class="level-right">
                        </div>
                    </div>
                </div>

                <div id="confirm-delete" class="hidden notification is-primary">
                    <button class="delete" th:onclick="'showConfirm(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                                <p>Do you really want to delete selected activities?</p>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="has-text-weight-semibold is-underlined ml-2"> This action is not reversible
                                    and will erase all selected activities filled data.</p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-danger"
                                        th:onclick="'action(\'deleteTracking\',' + ${year} + ',' + ${month} +'), showConfirm(false);'">Continue
                                </button>
                                <button class="button ml-3" th:onclick="'showConfirm(false);'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <article class="message is-primary">
                    <div class="message-header">
                        <p class="subtitle has-text-white has-text-weight-semibold m-auto">Tracking</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="table__wrapper">
                                    <div class="is-6 has-text-centered has-text-weight-bold mx-auto">
                                        <a th:href="'/tracking/' + ${previousYear} + '/'+${previousMonth}">
                                            <span class="icon is-medium has-text-primary is-clickable"
                                                  data-tooltip="Previous">
                                                    <i class="fas fa-arrow-alt-square-left fa-lg table-button"></i>
                                            </span>
                                        </a>
                                        <span class="my-auto is-size-4 has-text-weight-bold" th:text="${monthName}+' '+${year}">
                                        </span>
                                        <a th:if="${nextAvailable == false}" th:href="'/tracking/' + ${nextYear} + '/'+${nextMonth}">
                                            <span class="icon is-medium has-text-primary is-clickable"
                                                  data-tooltip="Next">
                                                    <i class="fas fa-arrow-alt-square-right fa-lg table-button"></i>
                                            </span>
                                        </a>
                                    </div>

                                    <table id="sortableTable" class="mx-auto">
                                        <!--
                                        <tr>
                                            <th></th>
                                            <th class="has-text-primary-dark">Search Filter</th>
                                        </tr>
                                        <tr id="rowfilter">
                                            <td style="text-align:center; vertical-align:middle;">
                                            </td>
                                            <td>
                                                <input class="input has-text-primary has-text-weight-semibold"
                                                       th:id="TeamNamefilter" name="teamName" type="text"
                                                       placeholder="" maxlength="5" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <div class="select">
                                                    <select th:id="Locationfilter" name="location"
                                                            class="width110 fLocation" th:onchange="'filterTableRow()'">
                                                        <option th:value="ALL">ALL</option>
                                                        <option th:each="location : ${locationList}"
                                                                th:value="${location.locationName}"
                                                                th:text="${location.locationName}"></option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>-->
                                        <!-- header table -->
                                        <tr class="table-header">
                                            <th class="checkboxCol has-text-primary-dark table-header"></th>
                                            <th class="activityTrackingCol has-text-primary-dark table-header">Activity</th>
                                            <th class="locationCol has-text-primary-dark table-header">Location</th>
                                            <th class="hoursCol has-text-primary-dark table-header has-text-centered"
                                                th:each="i : ${#numbers.sequence( 1, monthDays/1)}" th:text="${i}"></th>
                                            <th class="hoursTotCol has-text-primary-dark table-header has-text-centered">Tot
                                            </th>
                                        </tr>
                                        <!-- Data rows -->
                                        <tr th:each="projectActivity,iter : ${projectActivityList}" th:id="row+${iter.index}">
                                            <div th:action="@{/tracking}" th:id="form+${iter.index}"
                                                 th:object="${compiledProjectActivity}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkbox+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fProjectActivity"
                                                           th:id="projectActivity + ${iter.index}" name="projectActivity" type="text"
                                                           th:value="${projectActivity.getProjectDesc()} + ':' +${projectActivity.getActivityKey()}"
                                                           th:placeholder="${projectActivity.getProjectDesc()} + ':' +${projectActivity.getActivityKey()}" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fLocation"
                                                           th:id="location + ${iter.index}" name="location" type="text"
                                                           th:value="${projectActivity.getLocation()}"
                                                           th:placeholder="${projectActivity.getLocation()}" required
                                                           readonly>
                                                </td>
                                                <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                    <form th:action="@{/tracking}" th:id="form+${iter.index}+.+${i}"
                                                          th:object="${compiledProjectActivity}" method="put">
                                                        <input type="hidden" name="projectActivityKeys" th:value="${projectActivity.getProject()}+':'+${projectActivity.getActivityKey()}"/>
                                                        <input type="hidden" name="locationName" th:value="${projectActivity.getLocation()}"/>
                                                        <input type="hidden" name="day" th:value="${i}"/>
                                                        <input class="input has-text-centered numeric-input" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                               th:id="hour+${iter.index}+.+${i}" name="hour"
                                                               type="number"
                                                               th:value="${#vars.getVariable('__${projectActivity.getProject()}__.__${projectActivity.getActivityKey()}__.__${projectActivity.getLocation()}__.__${i}__')}"
                                                               th:placeholder="${#vars.getVariable('__${projectActivity.getProject()}__.__${projectActivity.getActivityKey()}__.__${projectActivity.getLocation()}__.__${i}__')}"
                                                               onkeyup="computeSubTotals()"
                                                               required>
                                                    </form>
                                                </td>
                                                <td>
                                                    <input class="input has-text-centered has-text-weight-semibold"
                                                           th:id="rowTotal+${iter.index}"
                                                           type="number"
                                                           value="0"
                                                           required readonly>
                                                </td>
                                            </div>
                                        </tr>
                                        <tr th:each="standardActivity,iter : ${standardActivityList}" th:id="rowS+${iter.index}">
                                            <div th:id="formS+${iter.index}">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input th:id="checkboxS+${iter.index}"
                                                           th:onclick="'selectTableRow(\'S' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fProjectActivity"
                                                           th:id="standardActivity + ${iter.index}" name="standardActivity" type="text"
                                                           th:value="'Std:' +${standardActivity.getActivityKey()}"
                                                           th:placeholder="'Std: ' +${standardActivity.getActivityKey()}" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fLocation"
                                                           th:id="Slocation + ${iter.index}" name="location" type="text"
                                                           th:value="${standardActivity.getLocation()}"
                                                           th:placeholder="${standardActivity.getLocation()}" required
                                                           readonly>
                                                </td>
                                                <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                    <form th:action="@{/tracking}" th:id="formS+${iter.index}+.+${i}"
                                                          th:object="${standardActivity}" method="put">
                                                        <input type="hidden" name="projectActivityKeys" th:value="'Std:'+${standardActivity.getActivityKey()}"/>
                                                        <input type="hidden" name="locationName" th:value="${standardActivity.getLocation()}"/>
                                                        <input type="hidden" name="day" th:value="${i}"/>
                                                        <input class="input has-text-centered numeric-input" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                               th:id="hourS+${iter.index}+.+${i}" name="hour"
                                                               type="number"
                                                               th:value="${#vars.getVariable('Standard.__${standardActivity.getActivityKey()}__.__${standardActivity.getLocation()}__.__${i}__')}"
                                                               th:placeholder="${#vars.getVariable('Standard.__${standardActivity.getActivityKey()}__.__${standardActivity.getLocation()}__.__${i}__')}"
                                                               onkeyup="computeSubTotals()"
                                                               required>
                                                    </form>
                                                </td>
                                                <td>
                                                    <input class="input has-text-centered has-text-weight-semibold"
                                                           th:id="rowTotalS+${iter.index}"
                                                           type="number"
                                                           value="0"
                                                           required readonly>
                                                </td>
                                            </div>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="has-text-centered">
                                                <span class="has-text-primary-dark has-text-weight-bold">
                                                Tot
                                                </span>
                                            </td>
                                            <td th:each="i : ${#numbers.sequence( 1, monthDays/1)}">
                                                <input class="input has-text-centered has-text-weight-semibold" th:classappend="${weekendDays.contains(i) ? 'has-background-grey-lighter':''}"
                                                       th:id="hourTot+${i}"
                                                       type="number"
                                                       th:value="0"
                                                       th:placeholder="0"
                                                       th:hourstowork="${#vars.getVariable('hoursToWork.__${i}__')}"
                                                       required readonly>
                                            </td>
                                            <td>
                                                <input class="input has-text-centered has-text-weight-semibold"
                                                       th:id="hourTotFinal"
                                                       type="number"
                                                       th:value="0"
                                                       th:placeholder="0"
                                                       required readonly>
                                            </td>
                                        </tr>
                                    </table>

                                    <div id="warningExtraordinary" class="hidden notification has-background-warning mt-4">
                                        <button class="delete" onclick="this.parentElement.classList.add('hidden');"></button>
                                        <div class="level m-0">
                                            <div class="level-left">
                                                <div class="level-item">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <p class="has-text-weight-semibold ml-2">
                                                        Warning: Extraordinary hours in time sheet. Remember you need to contact administrators for approval.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="level-right">
                                            </div>
                                        </div>
                                    </div>

                                    <table class="mx-auto mt-4">
                                        <!--new add activity form-->
                                        <tr id="row99999">
                                            <form id="formAddProjectActivity">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="projectActivityAddactivity" name="projectActivityKeys" class="has-text-primary has-text-weight-semibold">
                                                            <option th:each="userActivity,iter : ${userActivityList}"
                                                                    th:value="${userActivity.getProject()} + ':' +${userActivity.getActivityKey()}"
                                                                    th:text="${userActivity.getC_Activity().getC_Project().getProjectDesc()} + ': ' +${userActivity.getActivityKey()}"></option>
                                                            <option th:each="standardActivity,iter : ${allStandardList}"
                                                                    th:value="'Std:' +${standardActivity.getActivityKey()}"
                                                                    th:text="'Std: ' +${standardActivity.getActivityKey()}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="locationAddactivity" name="locationName" class="has-text-primary has-text-weight-semibold">
                                                            <option th:each="location : ${locationList}"
                                                                    th:value="${location.locationName}"
                                                                    th:text="${location.locationName}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td style="text-align:center; vertical-align:middle; width:130px;" >
                                                    <input name="autocompile" type="checkbox"/>
                                                    Autocompile
                                                </td>
                                            </form>
                                            <td>
                                                <button class="button is-primary"
                                                        th:onclick="'action(\'addTracking\',' + ${year} + ',' + ${month} +');'">
                                                    Add Activity</button>
                                            </td>
                                            <td>

                                            </td>
                                        </tr>

                                    </table>
                                    <!--
                                    <div class="mt-5 has-text-centered has-text-warning-dark">Nota: Con meno di due anni di anzianità richiedere PERMESSI anziché ROL</div>
                                    -->
                                    <div class="mt-5 has-text-centered">
                                        <button class="button is-primary"
                                                th:data-username="${#authentication.getPrincipal().getUsername()}"
                                                th:data-month="${month}"
                                                th:data-year="${year}"
                                                th:onclick="extractXLSX(this.getAttribute('data-month'),this.getAttribute('data-year'),this.getAttribute('data-username'));">
                                            Export Excel File 📁
                                        </button>
                                    </div>
                                    <div class="has-text-primary-dark has-text-weight-bold mt-5 has-text-centered">Monthly Note</div>
                                    <div class="columns is-centered">
                                        <div class="column is-half-desktop">
                                            <form id="formNote">
                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <textarea id="monthlyNote" name="note" class="textarea" th:text="${monthlyNote}"></textarea>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>

</html>