<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:include="fragments/headFragment.html :: headFragment">
</head>

<body>
<script src="/js/mainjs.js"></script>
<script src="/js/table-system.js"></script>

<script type="text/javascript">
    let columnList = ["checkbox", "username", "dailyRate"];

    async function action(actionString, projectKey, activityKey) {
        let error_log = "";
        let tableChanged = false;
        if (tableRowList.every(v => v === false))
            return 1;
        switch (actionString) {
            case 'saveUserActivities':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        for (let value of data.values()) {
                            console.log(value);
                        }
                        console.log(data);
                        if (index !== "99999")
                            await fetch("/projects/"+ projectKey + "/" + activityKey, {method: 'PUT', body: data})
                                .then(response => response.text())
                                .then(body => {
                                    let span;
                                    if (body.includes("ERROR"))
                                        span = "<span class=\"has-text-danger\">";
                                    else
                                        span = "<span class=\"has-text-primary\">";
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                        else
                            await fetch("/projects/" + projectKey + "/" + activityKey, {method: 'POST', body: data})
                                .then(response => response.text())
                                .then(body => {
                                    let span;
                                    if (body.includes("ERROR"))
                                        span = "<span class=\"has-text-danger\">";
                                    else {
                                        span = "<span class=\"has-text-primary\">";
                                        tableChanged = true;
                                    }
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                    }
                }
                break;
            case 'deleteUserActivities':
                for (let index in tableRowList) {
                    if (tableRowList[index]) {
                        let data = new FormData(document.getElementById("form" + index));
                        if (index != "99999")
                            await fetch("/projects/" + projectKey + "/" + activityKey, {method: 'DELETE', body: data})
                                .then(response => response.text())
                                .then(body => {
                                    let span;
                                    if (body.includes("ERROR"))
                                        span = "<span class=\"has-text-danger\">";
                                    else
                                        span = "<span class=\"has-text-primary\">";
                                    error_log += span + body + "</span><br>";
                                })
                                .catch(error => console.log(error));
                    }
                }
                return window.location.reload(true)
                break;
        }
        let errorelement = document.getElementById("error-log-text");
        errorelement.innerHTML = error_log;
        showErrorLog(true);
        if (tableChanged === true)
            setTimeout(function () {window.location.reload(true)}, 3000);
    }

    function filterTableRow() {
        for (let i = 0; i < 99998; i++) {
            let row = document.getElementById("row" + i);
            if (row != null)
                row.classList.remove('hidden');
            else
                break;
        }
        let tableColumnList = ["Username", "DailyRate"];
        for (let columnKey of tableColumnList) {
            let columnInputs = document.getElementsByClassName("f" + columnKey);
            let filterValue = document.getElementById(columnKey + "filter").value;
            for (let columnInput of columnInputs) {
                let parentTableRow;
                parentTableRow = columnInput.parentNode.parentNode;
                if (!columnInput.value.toLowerCase().includes(filterValue.toLowerCase()) && filterValue !== 'ALL') {
                    parentTableRow.classList.add('hidden');
                }
            }
        }
    }
</script>

<section class="">
    <div class="container mt-6">
        <div class="columns">
            <div class="column">

                <div th:include="fragments/authbar.html :: authbar"></div>

                <div class="level mt-5">
                    <div class="level-left">
                        <nav class="breadcrumb has-arrow-separator is-medium level-item" aria-label="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/projects">
                                        <span>Projects</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="'/projects/' + ${projectKey}">
                                        <span th:text="${projectKey}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="'/projects/' + ${projectKey} + '/' + ${activityKey}">
                                        <span th:text="${activityKey}"></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Save"
                                  th:data-projectKey="${projectKey}"
                                  th:data-activityKey="${activityKey}"
                                  th:onclick="action('saveUserActivities',this.getAttribute('data-projectKey'), this.getAttribute('data-activityKey'))">
                                  <i class="fas fa-save fa-2x table-button"></i>
                                </span>
                            <span class="icon is-large has-text-primary is-clickable" data-tooltip="Delete"
                                  th:onclick="'showConfirm(true);'">
                                  <i class="fas fa-trash-alt fa-2x table-button"></i>
                            </span>
                        </div>
                    </div>
                </div>

                <div id="error-log" class="hidden notification has-background-primary-light">
                    <button class="delete" th:onclick="'showErrorLog(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p id="error-log-text" class="has-text-weight-semibold ml-2"></p>
                            </div>
                        </div>
                        <div class="level-right">
                        </div>
                    </div>
                </div>

                <div id="confirm-delete" class="hidden notification is-primary">
                    <button class="delete" th:onclick="'showConfirm(false)'"></button>
                    <div class="level m-0">
                        <div class="level-left">
                            <div class="level-item">
                                <p>Do you really want to remove selected users from this activity?</p>
                            </div>
                        </div>
                    </div>
                    <div class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <p class="has-text-weight-semibold is-underlined ml-2"> This action is not reversible
                                    and will prevent user from compiling this activity in monthly time sheet.</p>
                            </div>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <button class="button is-danger"
                                        th:attr="onclick=|action('deleteUserActivities','${projectKey}','${activityKey}')|">
                                    Continue
                                </button>
                                <button class="button ml-3" th:onclick="'showConfirm(false);'">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <article class="message is-primary">
                    <div class="message-header">
                        <p class="subtitle has-text-white has-text-weight-semibold m-auto">Activities Resources Management</p>
                    </div>
                    <div class="message-body">
                        <div class="columns is-centered">
                            <div class="column">
                                <div class="table__wrapper">
                                    <table id="sortableTable" class="mx-auto">
                                        <!-- Search Filter -->
                                        <tr>
                                            <th></th>
                                            <th class="has-text-primary-dark">Search Filter</th>
                                        </tr>
                                        <tr id="rowfilter">
                                            <td style="text-align:center; vertical-align:middle;">

                                            </td>
                                            <td>
                                                <input class="input has-text-primary has-text-weight-semibold"
                                                       th:id="Usernamefilter" name="username" type="text"
                                                       placeholder="" maxlength="64" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td>
                                                <input class="input has-text-right" id="DailyRatefilter" name="dailyRate"
                                                       type="number" placeholder="" required
                                                       th:onkeyup="'filterTableRow()'">
                                            </td>
                                            <td></td>
                                        </tr>
                                        <!-- header table -->
                                        <tr class="table-header">
                                            <th class="checkboxCol has-text-primary-dark table-header"></th>
                                            <th class="usernameCol has-text-primary-dark table-header">Username
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'username\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th class="has-text-primary-dark table-header">Daily Rate
                                                <span class="icon has-text-primary"
                                                      data-tooltip="Order">
                                                    <i class="fas fa-sort fa-lg table-button is-clickable"
                                                       th:onclick="'sortTable(\'dailyRate\',columnList);'"></i>
                                                </span>
                                            </th>
                                            <th></th>
                                        </tr>
                                        <!-- Data rows -->
                                        <tr th:each="userActivity,iter : ${userActivityList}" th:id="row+${iter.index}">
                                            <form th:action="@{/projects}" th:id="form+${iter.index}"
                                                  th:object="${userActivity}" method="put">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input type="hidden" name="project" th:value="${projectKey}">
                                                    <input type="hidden" name="activityKey" th:value="${activityKey}">
                                                    <input th:id="checkbox+${iter.index}"
                                                           th:onclick="'selectTableRow(\'' + ${iter.index} + '\');'"
                                                           type="checkbox" class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <input class="input has-background-primary-light has-text-primary has-text-weight-semibold fUsername"
                                                           th:id="username + ${iter.index}" name="username" type="text"
                                                           th:value="${userActivity.username}"
                                                           th:placeholder="${userActivity.username}" maxlength="64" required
                                                           readonly>
                                                </td>
                                                <td>
                                                    <input class="input has-text-right fDailyRate" th:id="dailyRate + ${iter.index}" name="dailyRate"
                                                           type="number" th:value="${userActivity.dailyRate}"
                                                           th:placeholder="${userActivity.dailyRate}" required>
                                                </td>
                                            </form>
                                        </tr>
                                        <!--new user activity form-->
                                        <tr id="row99999">
                                            <form th:action="@{/projects}" id="form99999" th:object="${userActivity}"
                                                  method="post">
                                                <td style="text-align:center; vertical-align:middle;">
                                                    <input type="hidden" name="project" th:value="${projectKey}">
                                                    <input type="hidden" name="activityKey" th:value="${activityKey}">
                                                    <input id="checkboxadd"
                                                           th:onclick="'selectTableRow(\'99999\');'" type="checkbox"
                                                           class="tablecheckbox">
                                                </td>
                                                <td>
                                                    <div class="select">
                                                        <select th:id="usernameaddUserActivity" name="username" class="width200">
                                                            <option th:each="user : ${userList}"
                                                                    th:value="${user.username}"
                                                                    th:text="${user.username}"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input class="input has-text-right" th:id="dailyRateaddUserActivity" name="dailyRate"
                                                           type="number" required>
                                                </td>
                                            </form>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>

</html>