<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" lang="it">

<head th:include="fragments/headFragment.html :: headFragment">
    <title id="pageTitle">Login Rationence</title>
</head>

<body>
<script src="/js/mainjs.js"></script>
<script type="text/javascript" th:inline="javascript">
    function mostraModal(){
        document.getElementById("modal-aggiungi-utente").classList.add('is-active');
    }
    function nascondiModal(){
        document.getElementById("modal-aggiungi-utente").classList.remove('is-active');
    }
</script>

<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column">


                    <div th:include="fragments/header.html :: header"></div>

                    <div class="level">
                        <div class="level-left">
                            <nav class="breadcrumb" aria-label="breadcrumbs">
                                <ul>
                                    <li>
                                        <a href="/">
                                    <span class="icon is-medium">
                                      <i class="fas fa-home" aria-hidden="true"></i>
                                    </span>
                                            <span class="is-3">Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/utenti">
                                    <span class="icon is-medium">
                                      <i class="fas fa-user" aria-hidden="true"></i>
                                    </span>
                                            <span class="is-3">Utenti</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <span class="icon is-large has-text-primary-dark is-clickable" th:onclick="'mostraModal();'">
                                  <i class="fas fa-user-plus fa-2x"></i>
                                </span>
                                <span class="icon is-large has-text-primary-dark is-clickable">
                                  <i class="fas fa-save fa-2x"></i>
                                </span>
                                <span class="icon is-large has-text-primary-dark is-clickable">
                                  <i class="fas fa-trash-alt fa-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>


                    <article class="message is-primary ">
                        <div class="message-header">
                            <p>Gestione Utenti</p>
                        </div>
                        <div class="message-body">
                            <div class="columns is-centered">
                                <div class="column">
                                    <div class="table__wrapper">
                                        <table class="table is-striped is-hoverable is-fullwidth">
                                            <tr>
                                                <th></th>
                                                <th>Username</th>
                                                <th>Ruolo</th>
                                                <th>Nome</th>
                                                <th>Cognome</th>
                                                <th>Descrizione</th>
                                                <th>Email</th>
                                                <th>Team</th>
                                                <th>Costo</th>
                                                <th>Tempo</th>
                                                <th>Abilitato</th>
                                            </tr>
                                            <!--/*@thymesVar id="listaUtenti" type=""*/-->
                                            <tr th:each="user,iter : ${listaUtenti}" th:id="riga+${iter.index}">
                                                <td>
                                                    <input th:onclick="'selezionaRigaTabella(\'riga' + ${iter.index} + '\');'" type="checkbox">
                                                </td>
                                                <td th:text="${user.username}"></td>
                                                <td th:text="${user.role.roleName}"></td>
                                                <td th:text="${user.name}"></td>
                                                <td th:text="${user.surname}"></td>
                                                <td th:text="${user.description}"></td>
                                                <td th:text="${user.email}"></td>
                                                <td th:text="${user.team.teamName}"></td>
                                                <td th:text="${user.cost}"></td>
                                                <td th:text="${user.time}"></td>
                                                <td th:text="${user.enabled}"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </article>


                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal" id="modal-aggiungi-utente">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title is-primary">Aggiungi utente</p>
            <button class="delete" aria-label="close" th:onclick="'nascondiModal();'"></button>
        </header>

        <!--/*@thymesVar id="user" type=""*/-->
        <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
            <section class="modal-card-body">
                <label for="username">Username</label>

                <p class="control has-icons-left">
                    <input class="input" id="username" name="username" type="text" placeholder="Username" maxlength="64" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                </p>

                <label for="name">Nome</label>
                <input class="input" id="name" name="name" type="text" placeholder="Nome" maxlength="32" required>
                <label for="surname">Cognome</label>
                <input class="input" id="surname" name="surname" type="text" placeholder="Cognome" maxlength="62" required>
                <label for="description">Descrizione</label>
                <input class="input" id="description" name="description" type="text" placeholder="Descrizione"
                       maxlength="128" required>

                <label for="passwordHash">Password</label>
                <p class="control has-icons-left">
                    <input class="input" id="passwordHash" name="passwordHash" type="password" placeholder="Password" maxlength="32" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                </p>

                <label for="email">Email</label>
                <p class="control has-icons-left">
                    <input class="input" id="email" name="email" type="email" placeholder="Email" maxlength="128" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
                <label for="role">Ruolo</label>
                <div class="level">
                    <div id="role" class="select">
                        <select>
                                <option th:each="role : ${listaRuoli}" th:text="${role.roleName}"></option>
                        </select>
                    </div>
                </div>
                <label for="team">Team</label>
                <div class="level">
                    <div id="team" class="select">
                        <select>
                            <option th:each="team : ${listaTeams}" th:text="${team.teamName}"></option>
                        </select>
                    </div>
                </div>
                <label for="cost">Costo</label>
                <input class="input" id="cost" name="cost" type="number" placeholder="100" th:required>
                <label for="time">Tempo</label>
                <input class="input" id="time" name="time" type="number" placeholder="88888" min="11111" max="88888"
                       th:required>

            </section>
            <footer class="modal-card-foot">
                <input type="submit" class="button is-success" value="Crea utente">
                <button class="button is-danger" th:onclick="'nascondiModal();'">Annulla</button>
            </footer>
        </form>
    </div>
</div>

</body>
</html>