<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="extra.css">

<head>
    <title>Utenti</title>
</head>
<body>

<section class="hero is-primary is-fullheight">
    <div class="hero-body">
            <div class="container">
            <div class="columns is-centered">
                <div class="container">
                <div class="column is-5">
                    <div class="title has-text-centered">Menu utenti</div>

                    <article class="message is-link ">
                        <div class="message-header">
                            <p>Pannello Gestione Utenti</p>
                        </div>
                        <div class="message-body">
                            <table class="table table-striped">
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Password</th>
                                    <th>Abilitato</th>
                                </tr>
                                <!--/*@thymesVar id="listaUtenti" type=""*/-->
                                <tr th:each="user : ${listaUtenti}">
                                    <td th:text="${user.username}" />
                                    <td th:text="${user.email}" />
                                    <td th:text="${user.passwordHash}" />
                                    <td th:text="${user.enabled}" />

                                </tr>
                            </table>

                        </div>
                    </article>




                </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>